@import url("./font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or inside a <style> tag */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d31c1c; /* thumb color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9fe75b; /* thumb hover color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #ff4c4c; /* track color */
  border-radius: 8px;
}


/* Shining animation */
.shining-effect {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    #e7fff0c2,
    transparent
  );
  animation: shine 1.8s infinite linear;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #4ade80 #535353a8; /* thumb and track colors */
}


@layer components {
  .blurry-border::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    background: rgb(255, 255, 255, 1);
    border-radius: 50%;
    filter: blur(10px);
    z-index: -1;
  }

  .gradient-text {
    background: linear-gradient(90deg, #ffffff, #13ff56);
    background-clip: text;
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 1);
  }

  .features-card {
    background: linear-gradient(120deg, #121212, #1f1f1f);
  }

  .border-gradient-l {
    background: linear-gradient(220deg, #494949, #60e0b3);
  }

  .border-gradient-c {
    background: linear-gradient(220deg, #60e0b3, #494949, #60e0b3);
  }

  .border-gradient-r {
    background: linear-gradient(120deg, #494949, #60e0b3);
  }

  .light-cursor {
    background: radial-gradient(#60e0b342, rgba(124, 238, 200, 0) 70%);
  }

}